@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    margin: 0;
    background-image: url(img/table.png);
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    line-height: 1.6;
    letter-spacing: .1em;
}

#new-Deck, #draw {
    background-color: yellow;
    font-size: 1.2rem;
    padding: .3em 4em;
    cursor: pointer;
    border: none;
}

.top {
    display: flex;
    align-self: flex-start;
}

#p-top {
   margin: 0;
   margin-left: 10px;
   align-self: center;
}

button:disabled {
    cursor: not-allowed;
}

.card-img {
    width: 100%;
    height: 230px;
    margin-bottom: 1em;
}

h2, h4 {
    margin: 0;
}

h4 {
    margin-bottom: .2em;
}

#cards {
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .top {
        flex-direction: column;
    }
}


