@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(img/table.png);
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    line-height: 1.6;
    letter-spacing: .1em;
}

/* ======= Typography ======== */

h2, h1 {
    margin: 0;
}

h2 {
    margin-bottom: .2em;
}

h1 {
    font-size: 2.5rem;
    margin: auto;
}

#p-top {
    font-size: 1.3rem;
}

/* ======= Layout ======== */

#new-Deck, #draw {
    background-color: yellow;
    font-size: 1.5rem;
    padding: .8em;
    cursor: pointer;
    border: none;
}

#new-Deck {
    width: 40%;
}

#draw {
    margin-bottom: 1em;
    width: 20%;
}

.top {
    display: flex;
    align-self: flex-start;
    margin-top: 1em;
    width: 40%;
}

#p-top {
   margin: 0;
   margin-left: 10px;
   align-self: center;
}

button:disabled {
    cursor: not-allowed;
}

.card-img {
    width: 100%;
    height: 230px;
    margin-bottom: 1em;
}

#cards {
    display: flex;
    flex-direction: column;
}

/* ======= Media Query ======== */

@media (max-width: 600px) {
    .top {
        flex-direction: column;
    }

    .top {
        width: 100%;
    }

    #new-Deck, #draw {
        width: 90%;
    }
}


